@import url('https://fonts.cdnfonts.com/css/roobert');
/* @import url('https://fonts.googleapis.com/css2?family=Sen:wght@400;700;800&display=swap'); */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roobert', sans-serif;
    background: ebe4de;
    color: #171716;
}

a {
    color: #8d8985;
    text-decoration: none !important;
    transition: .3s ease-in-out;
}

a:hover {
    color: #2f2e2c;
    transition: .3s ease-in-out;
}

::placeholder {
    font-size: 16px;
    font-weight: 200;
    font-family: 'Roobert', sans-serif;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    background: #f9f7f5;
    position: fixed;
    top: 0;
    width: 100%;
}

nav h1 {
    color: #171716;
}

.nav-links {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.nav-links a {
    color: #666666;
}

.nav-links a:hover {
    color: #190000;
}

.logout-btn {
    background: #171716;
    padding: 10px 20px;
    border-radius: 5px;
    color: #e6e6e6 !important;
}

