.task {
  margin-top: 7rem;
  padding: 30px 200px;
}

.task h1 {
  font-weight: 400;
  font-size: 35px;
  color: #373737;
}

.divider {
  width: 100%;
  height: 1px;
  background: #e6e6e6;
  margin-top: 15px;
}
