.todo-lists-container {
  margin-top: 5rem;
}

.task-content {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.divider {
  width: 100%;
  height: 1px;
  background: #e6e6e6;
  margin-top: 15px;
}

.todo-li {
  list-style: none;
  margin-bottom: 0;
}

.task-container input {
  margin-top: .2rem;
  width: 100%;
  border: 1px solid #e6e6e6;
  padding: 15px;
  border-radius: 10px;
}

.done-task {
  text-decoration: line-through;
  color: gray;
}